<h2>{{@title}}</h2>

<ul>
  {{#each @tables as |table|}}
  <li>
    <button type="button" {{on 'click' (fn this.showTable table)}}>
      {{table.name}}
    </button>
  </li>
  {{/each}}
</ul>

{{yield}}
