{{page-title "EmberAppSupabaseServerExample"}}

<header>
  <div class="container">
    <LinkTo @route="tables-index">All Tables</LinkTo>
  </div>
</header>

<main>
  <div class="container">
    {{outlet}}
  </div>
</main>
